version: '3.7'

services:
  redmine:
    ports:
      - '8089:3000'
    image: 'redmine:4.1.1-alpine'
    container_name: 'redmine-web'
    depends_on:
      - db-postgres
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:8089"]
    #   interval: 1m30s
    #   timeout: 10s
    #   retries: 3
    #   start_period: 40s
    restart: unless-stopped
    environment:
      REDMINE_DB_POSTGRES: db-postgres
      REDMINE_DB_PORT: 5432
      REDMINE_DB_DATABASE: redmine
      REDMINE_DB_USERNAME: redmine-usr
      REDMINE_DB_PASSWORD: redmine-pswd
    networks:
      - redmine-network
    stop_grace_period: 30s
    volumes:
      - redmine-data:/usr/src/redmine/files

  db-postgres:
    environment:
      POSTGRES_DB: redmine
      POSTGRES_USER: redmine-usr
      POSTGRES_PASSWORD: redmine-pswd
    container_name: 'redmine-db'
    image: 'postgres:11.1-alpine'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 20s
      timeout: 20s
      retries: 5
    restart: unless-stopped
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - redmine-network
    stop_grace_period: 30s

volumes:
  postgres-data:
  redmine-data:

networks:
  redmine-network:
    driver: bridge